/* layout.css */

/* Import variables */
@import './variables.css';

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: calc(var(--spacing-unit) * 2);
}

/* Flex Layouts */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* Header and Footer */
.header, .footer {
  background-color: var(--background-sidebar);
  padding: calc(var(--spacing-unit) * 2);
  text-align: center;
}

/* Main Content Area */
.main-content {
  padding: calc(var(--spacing-unit) * 2);
}

/* Sidebar */
.sidebar {
  background-color: var(--background-sidebar);
  width: 250px;
  padding: calc(var(--spacing-unit) * 2);
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

/* Board Container */
.board-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-board);
  border: 1px solid var(--border-color);
  overflow: auto;
  height: 100%;
}

/* Game Container */
.game-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Board Wrapper */
.board-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 900px;
  aspect-ratio: 4 / 3;
}

/* Board Content */
.board-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Settings Row Styles */
#settingsSectionHost .settings-row,
#settingsSectionClient .settings-row {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-unit);
}

#settingsSectionHost .settings-label,
#settingsSectionClient .settings-label {
    flex: 0 0 auto;
    margin-right: var(--spacing-unit);
    min-width: 200px; /* Adjust this value as needed */
}

#settingsSectionHost .settings-input,
#settingsSectionClient .settings-display {
    flex: 1 1 auto;
    max-width: 100px;
}

/* Compact Settings Styles */
.compact-settings {
    background-color: var(--background-light);
    border-radius: var(--border-radius);
    padding: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
}

.compact-settings h3 {
    margin-top: 0;
    margin-bottom: var(--spacing-unit);
}
